<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Description</key>
        <dict>
                <key>Title</key>
                <string>Caplet Chat - Blue Alert</string>
                <key>Creator</key>
                <string>Quincy</string>
        </dict>
        <key>State</key>
        <dict>
                <key>Alert</key>
                <dict>
                        <key>Animated</key>
                        <true/>
                        <key>Delay</key>
                        <real>0.1</real>
                        <key>Images</key>
                        <array>
                                <string>alert01.png</string>
                                <string>alert02.png</string>
                                <string>alert03.png</string>
                                <string>alert04.png</string>
                                <string>alert05.png</string>
                                <string>alert06.png</string>
                                <string>alert07.png</string>
                                <string>alert08.png</string>
                                <string>alert09.png</string>
                                <string>alert10.png</string>
                                <string>alert11.png</string>
                                <string>alert12.png</string>
                                <string>alert13.png</string>
                                <string>alert14.png</string>
                        </array>
                        <key>Overlay</key>
                        <true/>
                </dict>
                <key>Away</key>
                <dict>
                        <key>Animated</key>
                        <false/>
                        <key>Image</key>
                        <string>away.png</string>
                        <key>Overlay</key>
                        <false/>
                </dict>
                <key>Base</key>
                <dict>
                        <key>Animated</key>
                        <false/>
                        <key>Image</key>
                        <string>offline.png</string>
                        <key>Overlay</key>
                        <false/>
                </dict>
                <key>Connecting</key>
                <dict>
                        <key>Animated</key>
                        <true/>
                        <key>Delay</key>
                        <real>0.05</real>
                        <key>Images</key>
                        <array>
                                <string>connecting01.png</string>
                                <string>connecting02.png</string>
                                <string>connecting03.png</string>
                                <string>connecting04.png</string>
                                <string>connecting05.png</string>
                                <string>connecting06.png</string>
                                <string>connecting07.png</string>
                                <string>connecting08.png</string>
                                <string>connecting09.png</string>
                                <string>connecting10.png</string>
                                <string>connecting11.png</string>
                                <string>connecting12.png</string>
                                <string>connecting13.png</string>
                                <string>connecting14.png</string>
                        </array>
                        <key>Overlay</key>
                        <true/>
                </dict>
                <key>Idle</key>
                <dict>
                        <key>Animated</key>
                        <false/>
                        <key>Image</key>
                        <string>idle.png</string>
                        <key>Overlay</key>
                        <true/>
                </dict>
		<key>Invisible</key>
		<dict>
			<key>Animated</key>
			<false/>
			<key>Image</key>
			<string>invisible.png</string>
			<key>Overlay</key>
			<false/>
		</dict>
                <key>Online</key>
                <dict>
                        <key>Animated</key>
                        <false/>
                        <key>Image</key>
                        <string>online.png</string>
                        <key>Overlay</key>
                        <false/>
                </dict>
                <key>Preview</key>
                <dict>
                        <key>Animated</key>
                        <false/>
                        <key>Image</key>
                        <string>online.png</string>
                        <key>Overlay</key>
                        <false/>
                </dict>
        </dict>
</dict>
</plist>
